<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
</head>
<body>
    <!-- <img src="image.gif" onerror="alert('图片不能被加载。')"> -->
    <div id="content"></div>
    <script>
        function fn(obj, msg){
            console.log(obj, msg);
        }
        $("#content").html('<img src="./photo1.png" onerror="fn(this, 111)">');
    </script>
</body>
</html>